@model MLSApplication.Models.Sportsman
@{
    ViewBag.Title = "Home Page";
}

    <div style="width:100%;text-align:center; "class="jumbotron">
        <h1>MLSApplication</h1>
        <p class="lead">Select the type of list do you prefer to use.</p>
        <hr class="my-4">

    </div>

<button type="button" class="btn btn-default btn-lg btn-block">
    @Html.ActionLink("C# List", "Index")
</button>

<button type="button" class="btn btn-default btn-lg btn-block">
    @Html.ActionLink("Doubly Linked List", "Index")
</button>